/* You can add global styles to this file, and also import other style files */
:root{
    --bglight : #6FDCBF;
    --sidbglight : #FFF; 
    --textdark : #404040;
    --bglight2 : #AE8FDB;
    --bglight3 : #FEF8B4;

    --bgdark : hsl(316, 30%, 36%);
    --sidebg : #29272A;
    --textlight : #FFF;
    --bgdark2 : #4C3A69;
    --bgdark3 : #2C2A32;  
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
